mixin notification(text, type)
	- 	
		let addClass = '';
		switch (type) {
			case 'error':
				addClass = 'notification--error';
				breake;
			case 'success':
				addClass = 'notification--success';
				breake;		
		}

	.notification(class= addClass) #{text} #{addClass}





mixin notify(text)
	.notification #{text}

mixin error(text)
	.notification.notification--error #{text}

mixin success(text)
	.notification.notification--success #{text}




//- errorWithDescription
//- successWithDescription
//- notifyWithDescription


mixin notificationComment(text)
	.notification-comment-error #{text}

mixin notificationEmail(text, paragraph1, paragraph2)
	div.notification-email
		div.notification-email-error #{text}
		div.notification-email-content #{paragraph1}
		div.notification-email-content #{paragraph2}

mixin notificationCreated(text)
	.notification-created-successfully #{text}

mixin notificationInfo(text)
	.notification-update-info #{text}